html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--grey-600);
  color: var(--grey-100);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SFMono', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

@font-face {
  font-family: 'SFMono';
  font-weight: 400;
  font-style: normal;
  src: url('SFMono-Regular.otf');
  font-display: swap;
}

/* Colors */

:root {
  --grey-900: #0a0a09;
  --grey-800: #141411;
  --grey-700: #2a2b26;
  --grey-600: #53544c;
  --grey-500: #7f8076;
  --grey-400: #aaaba0;
  --grey-300: #d3d4c9;
  --grey-200: #ebebe2;
  --grey-100: #f5f5ef;

  --red-900: #290607;
  --red-800: #470a0d;
  --red-700: #710e15;
  --red-600: #a11420;
  --red-500: #cb1d37;
  --red-400: #ed3467;
  --red-300: #fc64a1;
  --red-200: #ffa3d6;
  --red-100: #ffecfa;

  --orange-900: #2f150d;
  --orange-800: #50240f;
  --orange-700: #75330f;
  --orange-600: #9e490c;
  --orange-500: #cb6709;
  --orange-400: #f1901d;
  --orange-300: #fcb760;
  --orange-200: #fed7a8;
  --orange-100: #fff6e9;

  --yellow-900: #371f05;
  --yellow-800: #5f3906;
  --yellow-700: #8f5c07;
  --yellow-600: #c6930b;
  --yellow-500: #f8cb1b;
  --yellow-400: #f7dd4b;
  --yellow-300: #f5ea7e;
  --yellow-200: #f3f1b0;
  --yellow-100: #f2f2de;

  --green-900: #052907;
  --green-800: #0c4a07;
  --green-700: #1e6e08;
  --green-600: #3f9608;
  --green-500: #6fbf10;
  --green-400: #a5e22c;
  --green-300: #cfed6d;
  --green-200: #e4efab;
  --green-100: #e8ead8;

  --blue-900: #001336;
  --blue-800: #002662;
  --blue-700: #013f8c;
  --blue-600: #0362b2;
  --blue-500: #0f8fd0;
  --blue-400: #38bce6;
  --blue-300: #70dbef;
  --blue-200: #a9eaf4;
  --blue-100: #e5f6f8;

  --purple-900: #120639;
  --purple-800: #271163;
  --purple-700: #442294;
  --purple-600: #643bc0;
  --purple-500: #8659e1;
  --purple-400: #9f7af2;
  --purple-300: #b29af8;
  --purple-200: #ccbdf9;
  --purple-100: #f0e6f9;
}
